<div class="panel panel-default">
    <%= form_for_filterrific @filterrific do |f| %>
     	<div>
	         Search
	         <%= f.text_field(
	           :search_query,
	           class: 'filterrific-periodically-observed'
	         ) %>
	         Country
	         <%= f.select(
	           :with_country_id,
	           @filterrific.select_options[:with_country_id],
	           { include_blank: '- Any -' }
	         ) %>
         	Sorted by
         	<%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
         	Tagged With:
         	<%= f.select(:with_tag_ids, @filterrific.select_options[:with_tag_ids],
            { include_blank: '- Any -'}
          ) %>
       	</div>
       	<div>
         <%= link_to(
           'Reset filters',
           reset_filterrific_url,
         ) %>
       </div>
       <%# add an automated spinner to your form when the list is refreshed %>
       <%= render_filterrific_spinner %>
     <% end %>
</div>