<%if @listing %>
	<table class="table">
		<tr>
			<th> Title</th>
			<th>Address</th>
			<th>Price</th>
			<th>Tag</th>
			<th>Country</th>
			<th>Show</th>
			<th>Edit</th>
			<th>Destroy</th>
			<th>Reserve</th>
		</tr>
		<tr>
			<td><%=@listing.title%></td>
			<td><%=@listing.address%></td>
			<td><%=@listing.price%></td>
			<td><% @listing.tags.each do |tag|%>
				<%= tag.name + ',' %>
			<% end %>	
			<td><%=@listing.country_code%></td>
			<td><%= link_to 'Show', @listing %></td>
			<% if signed_in? and current_user.id == @listing.user_id %>
				<td><%= link_to "Edit", edit_listing_path(@listing) %></td>
				<td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
			<td><%= link_to 'Book this Place', new_listing_booking_path(@listing) %>	
		</tr>	
	</table>
<%end%>
<br>
<% if @listing.avatars %>
	<% @listing.avatars.each do |avatar| %>
		<%= image_tag(avatar.sizing) %>
	<% end %>	
<% end %>	
<br>
  <div class="container">
    <div class="row">
    <%@listing.avatars.each do |avatar|%>
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-body"><img src="<%=avatar%>" class="img-responsive" style="width:325px; height:200px;" alt="Image"></div>
        </div>
      </div>
      <%end%>
    </div>
  </div>

<%= link_to 'Back', listings_path %><br>

