  <div class="row">
    <div class="col-md-6">
      <%= form_for [@listing, @booking] do |f| %>
        <div class="input-daterange input-group" id="datepicker">
          <%= f.text_field :start_date, class: "input-sm form-control", placeholder: "From Date" %>
          <span class="input-group-addon">to</span>
          <%= f.text_field :end_date, class: "input-sm form-control", placeholder: "To Date"%>
        </div>
        <br>
        <div>
          <%= f.label :number_of_guest %>
        	<%= f.number_field :guest%>
      	</div>
        <br>
        <div>
         <%= f.submit "Submit"%>
         </div>
      <% end %>
    </div>
  </div>

