<div class="container" style="border: 1px solid gray;">
<% if @bookings %>
	<h3> My bookings </h3>
	<table class="table">
		<tr>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Number of Guests</th>
			<th>Booked At</th>
			<th>Show</th>
		</tr>
		<% @bookings.each do |booking|%>
		<tr>
			<td><%=booking.start_date%></td>
			<td><%=booking.end_date%></td>
			<td><%=booking.guest%></td>
			<td><%=Listing.find(booking.listing_id).title%></td>
			<td><%= link_to 'Show', listing_path(booking.listing_id) %></td>
		</tr>
		<%end%>
	</table>	
<%end%>
</div>