<h3>Booking done for <%=@listing.title%></h3>

<p>You have booked from <%=@booking.start_date%> to <%=@booking.end_date%></p>

<%= link_to 'Listings', listings_path %>
<%= link_to "Edit", edit_listing_booking_path(@listing, @booking) %>


