<%= link_to "Profile", current_user %>
<%= link_to "My Bookings", bookings_path%>
<h3>Your Bookings </h3>
<% if current_user.bookings %>
		<table class="table">
			<tr>
				<th>From Date</th>
				<th>To Date</th>
				<th>Num of Guest</th>
				<th>Booked at</th>
			</tr>
			<% current_user.bookings.each do |booking|%>
			<tr>
				<td><%=booking.start_date%></td>
				<td><%=booking.end_date%></td>
				<td><%=booking.guest%></td>
				<td><%=Listing.find(booking.listing_id).title%></td>
			</tr>
			<%end%>	
	
		</table>
<%end%>